<div class="container text-center">
<h1>About page.</h1>
<p>We are DevMatch. Our company focuses on creating an exclusive community
developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a fugiat modi doloremque fugit nesciunt perspiciatis dolorem harum veniam quae error laborum, sunt nobis facilis eaque ipsum esse blanditiis, deserunt.</p>

</div>